.container {
    border: 2px solid rgb(255, 255, 255);
    width: 500px;
    height: 300px;
    background-color: rgba(253, 220, 138, 0.507);
    margin: auto;
    border-radius: 20px;
    border-color: rgba(255, 140, 0, 0.952);
    position: relative;
    top: 50px;

}

.form {
    margin: 10px 5px 5px 120px;
    padding: 10px 0px 5px 10px;
}

input {
    margin: 5px 5px 20px 0px;
    height: 20px;
    border-radius: 10px;
    border-color: darkorange;
}

select {
    height: 30px;
    border-radius: 10px;
    border-color: rgb(255, 140, 0);
}

button {
    margin: 10px 5px 5px 80px;
    border-radius: 20px;
    background-color: rgb(165, 0, 0);
    height: 30px;
    width: 70px;
    font-size: 15px;
    color: beige;
    border-color: darkorange;
}

H1 {
    color: rgb(218, 232, 238);
}
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url(films.jpg);
      background-size: cover;
      background-position: center;
      min-height: 100px;
  }

  header {
      background-color: #c5210b00;
      color: #ffffff;
      padding: 10px;
      height: 49px;
  }

  ul {
      float: right;
      list-style-type: none;
  }

  li {
      float: left;
      left: 200px;
  }

  li a {
      display: block;
      color: rgb(255, 255, 255);
      font-size: 20px;
      text-align: center;
      padding: 10px 30px;
      text-decoration: none;
  }

  li a:hover {
      background-color: rgb(236, 213, 7);
      color: white;
      border-radius: 20px;
      border: none;
  }