<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Gestion de Films</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  
</head>
<body>
  <header>
   <div class="nav">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/admin">Administration</a></li>
        </ul>
   </div>
  </header>
  <div class="liste">
      {{#each film}}
      <div class="card">
        <p>{{this.titre}}  |  {{this.genre}}</p>
      </div>
      {{/each}}
     
  </div>
  <form action="/client" method="post">
    <input type="hidden" name="idclient" id="idclient" value="{{clientId}}">
    <input type="text" name="nom" id="nom" placeholder="Nom"><br>
    <input type="text" name="prenom" id="prenom" placeholder="Prénom"><br>
    <button type="submit" id="inscrire">s'inscrire</button><br>
  </form>
     


  
</body>
</html>
